.img{
    width: 100%; 
    height: 100vh;
    background-image: url(./korgar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
.img1{
    width: 100%; 
    height: 80vh;
    background-image: url(./IMAGE\ -\ 2025-11-22T143131.114.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}